/* TODO: Risk of overwritting the main website box sizing if it was not set to border-box*/
html {
  box-sizing: border-box;
}

.weather-forecast{
    /* widget would fit into an area on a page that was between 500px and 800px wide*/
    /* since there is 5% left/right padding is added in wrapper class in main website, remaining width
    must be set to weather forecast widget 100%-10%=90%*/
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
/*    outline: 1px solid green;*/
}

/*******************************************************
        Daily Weather Panel styling information
******************************************************/
.daily-panel {
    width: 100%;
    margin: 0 auto;
    min-height: 60px;
    padding: 2%;
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    cursor: pointer;
    background-color: #F8F8F8;
}

.daily-panel:hover{
    background-color: #DDD;
}

.today{
    display: inline-block;
    width: 20%;
    text-transform: uppercase;
/*    outline: 1px solid orange;*/
}

.summary{
    display: inline-block;
    width: 40%;
/*    outline: 1px solid green;*/
}

.today-icon-container{
    display: inline-block;
    width: 20%;
    vertical-align: middle;
/*    outline: 1px solid red;*/
}

.widget-today-icon{

}

.circular-button {
    display: inline-block;
    width: 20px !important;
    height: 20px !important;
    border-radius: 50% !important;
    background-color: #aaa;
    color: #fff;
    text-align: center;
}

.circular-button span span {
    height: 20px !important;
    line-height: 14px;
}

.fold{

}

.expand{
    display: none;
}


/*******************************************************
        Hourly Weather Panel styling information
******************************************************/
#hourly-panel{
    display: none;
    height: 200px;
    background-color: #9FB6CC;
}

/********      Slider properties  *******/
.ui-slider{
    margin-top: 10%;
    background: #CED0A0;
}

/* According to jQuery-ui slider documentation, custom slider handle should be created and appened
   by adding ui-slider-handle class before initialization*/
.ui-slider .ui-slider-handle{
    width:25px;
    height:75px;
    /*TODO: not sure why background color didn't change upon using background-color property but
      it is changed using background property without setting any image url*/
    background: #778899;
    border:none;
    outline: none;
    opacity: 0.5;
}

/*  ui-slider: The track of the slider control.
    ui-slider-handle: The slider handles.*/
.ui-slider .ui-slider-handle:hover{
    background: #3C444C;
}

.ui-slider .ui-slider-handle:focus{
    background: #3C444C;
    outline: none;
}

.ui-slider .ui-slider-handle:active{
    background: #3C444C;
    outline: 1px solid green;
}


/****** Hours ticks properties ******/
.hour-ticks span {
    display: inline-block;
    border: 1px solid red;
/*    margin-left: 32.69px;*/
    margin-left: 4.085%;
}

.hour-ticks span:first-child {
    margin-left: 0%;
}
.hour-ticks span.even {
    height: 5px;
}
 .hour-ticks span.odd {
     height: 8px;
}

/****** Hours properties ******/
.hours .hour {
  height: 5px;
}

.hours .hour{
  display: inline-block;
  width: 36px;
  margin-left: 32.69px ;
  text-align: center;
  font-family: "AvenirNextCondensed-Medium", "Arial Narrow", Verdana, sans-serif;
  font-size: 16px;
  color: #222;
}

.hours .hour:first-child {
    margin-left: 0%;
}

/* decrease the margin between 12AM and 2AM to center all hour tags under corresponding ticks(dashes)*/
.hours .hour:nth-child(2) {
    margin-left: 22px;
}
